* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blue;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: blue;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: white;
  color: blue;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid blue;
  }
}
.weather {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  color: white;
}

.location,
.temp {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temp {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h3 {
  font-size: 40px;
}
